body{
background: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSbAz_at59msHBr43t41GVtEid4ovQfLlD5Bu4nueZFVuE2JqQM);
font: 1em 'PT Sans', Tahoma, Arial;
}
.z{
font: 5em;
color: #458B74;
text-align: center;
text-shadow: 0 1px 3px rgba(0,0,0,.4), 0 1px rgba(0,0,0,.2);

}
.outer{
width: 100%;
height: 100%;
position: absolute;
top: 0;
left: 0;
overflow: auto;
}
#wrapper{
width: 600px;
height: 600px;
position: absolute;
top: 50%;
left: 50%;
perspective: 900px;
margin: -300px 0 0 -300px;
border: 5px solid #458B74;
border-radius: 10px;
box-shadow: 0 5px 5px rgba(0,1,0,.5);
}
#cube{
position:relative;
width: 400px;
height: 400px;
margin:100px auto;
transform-origin: 50% 50% -200px;
transform-style: preserve-3d;
cursor: pointer;
}
.side{
width: 400px;
height: 400px;
position: absolute;
border: 3px solid #458B74;
border-radius: 10px;
line-height: 400px;
text-align: center;
text-shadow: 0 1px 3px rgba(0,0,0,.4);
box-shadow: 0 0 6px rgba(0,0,0,.5);
transform-origin: 50% 50% -200px;
transform-style: preserve-3d;
transform: rotate3d(1,1,1,50deg);
}
#side1{
background: url(images/103.jpg);
background-size:cover;
transform: translateZ(0px);
}

#side1:active{
background: url(images/DSC08537.JPG);
background-size:cover;
}
#side2{
background: url(images/96.jpg);
background-size:cover;
transform: rotateY(90deg);
}
#side2:active{
background: url(images/95.JPG);
background-size:cover;
}
#side3{
background: url(images/97.jpg);
background-size:cover;
transform: rotateY(-90deg);
}
#side3:active{
background: url(images/98.JPG);
background-size:cover;
}
#side4{
background: url(images/DSC00513.jpg);
background-size:cover;
transform: rotateX(90deg);
}
#side4:active{
background: url(images/99.JPG);
background-size:cover;
}
#side5{
background: url(images/DSC00602.jpg);
background-size:cover;
transform: rotateX(-90deg);
}
#side5:active{
background: url(images/06022010097.JPG);
background-size:cover;
}
#side6{
background: url(images/DSC00098.jpg);
background-size:cover;
transform: rotateY(180deg);
}
#side6:active{
background: url(images/104.JPG);
background-size:cover;
}
.side:hover::after {
width: 400px;
height: 100px;
    content: attr(data-title); /* Выводим текст */
    position: absolute; /* Абсолютное позиционирование */
    left: 0; right: 0; top: 0; /* Положение подсказки */
    z-index: 1; /* Отображаем подсказку поверх других элементов */
    color: #fff; /* Цвет текста */
    text-align: center; /* Выравнивание текста по центру */
    font-family: Comic-Sans, sans-serif; /* Гарнитура шрифта */
    font-size: 30px; /* Размер текста подсказки */
    padding: 5px 10px; /* Поля */
    
